@media only screen and (max-width: 768px) {
  header {
    padding: 0px 25px;
    overflow: visible;
  }
  header .hamburguer {
    position: absolute;
    right: 25px;
    opacity: 1;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .hamburguer b:nth-child(1) {
    font-size: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .hamburguer b:nth-child(2) {
    font-size: 45px;
    display: none;
  }
  header ul {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    margin-left: -25px;
    padding: 5px;
    row-gap: 10px;
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header ul li:nth-child(1) {
    display: none;
  }
  header ul li:nth-child(2) {
    width: 100px;
    height: auto;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }
  header ul li:nth-child(3) {
    width: 100px;
    height: auto;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }
  header ul li:nth-child(3) a {
    color: #fff;
  }
  .header .hamburguer {
    color: #328574;
  }
  .header ul {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .header ul li:nth-child(2) {
    background-color: #fff;
    border: none;
  }
  .header ul li:nth-child(2) a {
    color: #328574;
  }
  .header ul li:nth-child(3) {
    background-color: #328574;
    border: 1px solid #328574;
  }
  .header ul li:nth-child(3) a {
    color: #fff;
    font-weight: 700;
  }
  .step1 .container p span {
    width: 100%;
    height: auto;
    display: block;
    color: #fff;
    font-family: "Raleway";
    font-size: 21px;
    font-weight: 500;
    line-height: 300%;
    letter-spacing: 0px;
  }
  .step1 .container p span:nth-child(4) {
    font-family: "Josefin Sans";
    font-size: calc(3.6em + 1vw);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3px;
    margin-top: 25px;
  }
  .curriculo .container {
    padding: 150px 50px;
  }
  .curriculo .container .conhecimento {
    margin-top: 80px;
  }
  .curriculo .container .conhecimento h1 {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 465px) {
  .step1 .container p span {
    width: 100%;
    height: auto;
    display: block;
    color: #fff;
    font-family: "Raleway";
    font-size: 17px;
    font-weight: 500;
    line-height: 300%;
    letter-spacing: 0px;
  }
  .step1 .container p span:nth-child(4) {
    font-family: "Josefin Sans";
    font-size: calc(2.9em + 1vw);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 7px;
    margin-top: 25px;
  }
  .portfolio .container .cards .card figure {
    width: 100%;
    height: 180px;
  }
  .portfolio .container .cards .card figure img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .step1 .container p span {
    width: 100%;
    height: auto;
    display: block;
    color: #fff;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 500;
    line-height: 300%;
    letter-spacing: 0px;
  }
  .step1 .container p span:nth-child(4) {
    font-family: "Josefin Sans";
    font-size: calc(2.1em + 1vw);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 8px;
    margin-top: 25px;
  }
  .step1 .container p span:nth-child(4) b:nth-child(7) {
    margin-left: -30px;
  }
  .curriculo .container .conhecimento {
    min-width: 300px;
  }
  .curriculo .container .conhecimento h1 {
    width: auto;
    height: auto;
    font-family: "poppins";
    font-size: 17px;
    font-weight: 700;
  }
  .curriculo .container .conhecimento p:nth-child(2) span {
    width: auto;
    height: auto;
    margin: 10px 3px;
    font-family: "Prompt";
    font-size: 15px;
    font-weight: 500;
  }
  .curriculo .container .conhecimento p:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .curriculo .container .conhecimento p:nth-child(3) span {
    width: auto;
    height: auto;
    margin: 10px 3px;
    font-family: "Prompt";
    font-size: 15px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 425px) {
  .step3 .container div {
    width: 100%;
  }
  .next div {
    width: 100%;
    height: 50vh;
  }
}
/*# sourceMappingURL=mobile.css.map */