// @import 'style.scss';
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin display($display, $direction, $content, $align) {
    display: $display;
    align-items: $align;
    justify-content: $content;
    flex-direction: $direction;
}

@mixin color($bgcolor, $color, $border) {
    background-color: $bgcolor;
    color: $color;
    border: $border;
}

@mixin font($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

$green: #2c8560;
// (Somente) Mostra o menu hamburguer...
@media only screen and (max-width: 768px) {
    header {
        padding: 0px 25px;
        overflow: visible;
        .hamburguer {
            @include position(absolute, null, 25px, null, null);
            opacity: 1;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
            b:nth-child(1) {
                font-size: 65px;
                display: flex;
            }
            b:nth-child(2) {
                font-size: 45px;
                display: none;
            }
        }
        ul {
            @include size(100vw, auto);
            @include display(flex, column, center, flex-end);
            @include position(absolute, 60px, null, null, null);
            margin-left: -25px;
            padding: 5px;
            row-gap: 10px;
            display: none;
            transition: 0.5s;
            li:nth-child(1) {
                display: none;
            }
            li:nth-child(2) {
                @include size(100px, auto);
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid #fff;
                background-color: rgba(0, 0, 0, 0.8);
            }
            li:nth-child(3) {
                @include size(100px, auto);
                @include color(transparent, #fff, none);
                border-radius: 0px;
                border-bottom: 1px solid #fff;
                background-color: rgba(0, 0, 0, 0.8);
                a {
                    color: #fff;
                }
            }
        }
    }
    .header {
        .hamburguer {
            color: $green;
        }
        ul {
            background-color: rgba(255, 255, 255, .7);
            li:nth-child(2) {
                background-color: #fff;
                border: none;
                a {
                    color: $green;
                }
            }
            li:nth-child(3) {
                background-color: $green;
                border: 1px solid $green;
                a {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }
}

// (Somente) Remove a foto...
@media only screen and (max-width: 605px) {
    aside {
        .container {
            div:nth-child(1) {
                @include size(80%, auto);
                @include display(flex, column, center, flex-start);
                ol {
                    li {
                        @include size(100%, auto);
                    }
                }
            }
            div:nth-child(2) {
                display: none;
            }
        }
    }
}

// (Somente) Diminui tamanho step1...
@media only screen and (max-width: 465px) {
    .step1 {
        .container {
            p {
                span {
                    @include font("poppins", calc(0.6em + 1vw), 600);
                    letter-spacing: 0px;
                    transition: 0.5s;
                }
                span:nth-child(4) {
                    font-size: calc(1.9em + 1vw);
                    letter-spacing: 1px;
                }
            }
        }
    }
}

// Diminui Formulário e aumenta página .next...
@media only screen and (max-width: 425px) {
    .step3 {
        .container {
            div {
                width: 100%;
            }
        }
    }
    // Página next
    .next {
        div {
            @include size(100%, 50vh);
        }
    }
}